<div class="container bg-warning p-0">
  <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12">
    <div class="h1 col-lg-4 ps-4">
      <%= link_to 'Pr. Mngr', root_path, class: "text-dark navbar-brand m-0 p-0 d-flex align-items-center justify-content-start"%>
    </div>
    <div class="col-lg-4 ">
      <div class="h-100 d-flex justify-content-around align-items-center">
        <small><%= link_to t("activerecord.attributes.projects"), root_path, class: "h6 fw-light text-dark text-decoration-none link-light" %></small>
        <small><%= link_to t("activerecord.attributes.tasks"), tasks_path, class: "h6 fw-light text-dark text-decoration-none link-light" %></small>
        <small><%= link_to t("activerecord.attributes.tags"), tags_path, class: "h6 fw-light text-dark text-decoration-none link-light" %></small>
      </div>
    </div>
    <% if user_signed_in? %>
      <div class="col-lg-4 d-flex align-items-center justify-content-end pe-4 gap-2">
        <div class="input-group rounded">
          <%= form_with url: searches_search_path, method: :post do |f| %>
            <%= f.search_field :title, {class: "form-control rounded",placeholder: t("helpers.submit.search"), oninput: "this.form.requestSubmit()"} %>
          <% end %>
        </div>
        <div class="own-drop dropdown">
          <a class="h4 fw-light own-drop-link tn dropdown-toggle text-white" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            <%= current_user.name %>
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><%= link_to t("devise.pages.edit"), edit_user_registration_path, class: "dropdown-item" %></li>
            <li><%= link_to t("devise.pages.sign_out"), destroy_user_session_path, class: "dropdown-item" %></li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>
